# ignore node modules and local build artifacts
node_modules
.next
dist
build
npm-debug.log
pnpm-lock.yaml
package-lock.json
yarn.lock
.env
.env.local
.env.development
.env.test
.git
.gitignore
Dockerfile
.dockerignore

# VSCode
.vscode
